<div class="container-fluid">
  <div class="product_form">
    <h3>Add Your Favorite Product!</h3>
    <form>
      Name: <input type="text" ng-model="newProduct.name">
      Image: <input type="text" ng-model="newProduct.imgUrl" placeholder="url...">
      Description: <input type="text" ng-model="newProduct.description" />
      Quantity: <select ng-model="newProduct.quantity">
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
      <div class="btn btn-primary" role="button" ng-click="createProduct()">Add Product!
    </div>
    </form>
    </div>
</div>
